@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutTheme.cshtml";
}

<div class="d-flex flex-column flex-column-fluid">
    <div id="kt_app_content" class="app-content flex-column-fluid">
        <div id="kt_app_content_container" class="app-container  container-fluid ">
            <div class="card" style="height:80vh">
                <div class="text-center">
                    <h1 id="text" class="display-4"></h1>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

</script>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
}