
<!--begin::Menu wrapper-->
<div class="app-header-menu app-header-mobile-drawer align-items-stretch" data-kt-drawer="true"
     data-kt-drawer-name="app-header-menu" data-kt-drawer-activate="{default: true, lg: false}"
     data-kt-drawer-overlay="true" data-kt-drawer-width="200px" data-kt-drawer-direction="end"
     data-kt-drawer-toggle="#kt_app_header_menu_toggle" data-kt-swapper="true"
     data-kt-swapper-mode="{default: 'append', lg: 'prepend'}"
     data-kt-swapper-parent="{default: '#kt_app_body', lg: '#kt_app_header_wrapper'}">

    <!--begin::Menu-->
    <div class="menu menu-rounded menu-column menu-lg-row my-5 my-lg-0 align-items-stretch px-2 px-lg-0" id="kt_app_header_menu" data-kt-menu="true">

        <div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start"
             class="menu-item menu-lg-down-accordion menu-sub-lg-down-indention me-0 me-lg-2">
            <a class="menu-link p-1" href="#">
                <span class="menu-icon mx-1"><i class="ki-solid ki-home fs-2"></i></span>
                <span class="menu-title fw-semibold text-gray-800">Dashboard</span>
            </a>
        </div>
        <!--begin:Menu item-->
        <div data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start"
             class="menu-item menu-lg-down-accordion menu-sub-lg-down-indention me-0 me-lg-2">
            <!--begin:Menu link-->
            <span class="menu-link p-1">
                <span class="menu-icon mx-1"><i class="ki-solid ki-address-book fs-2"></i></span>
                <span class="menu-title text-gray-800">ข้อมูลผู้ใช้งาน</span>
                @* <span class="menu-arrow"></span> *@
            </span>
            <!--end:Menu link-->
            <!--begin:Menu sub-->
            <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown px-lg-2 py-lg-4 w-lg-250px">
                <!--begin:Menu item-->
                <div class="menu-item">
                    <!--begin:Menu link-->
                    <a class="menu-link" href="/User/Index" data-kt-initialized="1"
                       data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss="click" data-bs-placement="right">
                        <span class="menu-icon">
                            <i class="ki-solid ki-gear fs-2"></i>
                        </span>
                        <span class="menu-title">เพิ่ม/แก้ไข รายชื่อผู้ใช้งาน</span>
                    </a>
                    <!--end:Menu link-->
                </div>
                <!--end:Menu item-->
            </div>
            <!--end:Menu sub-->
        </div>
        <!--end:Menu item-->
    </div>
    <!--end::Menu-->

</div>
<!--end::Menu wrapper-->